// Breakpoint
$mb: 0;
$tb: 768px;
$pc: 1024px;

//color
$main_color_01:var(--e-global-color-5e04356); //#006DFF
$main_color_02:var(--e-global-color-3871aa0); //#71B5FF

$color_grey_01:var(--e-global-color-8316909); //#757575
$color_grey_02:var(--e-global-color-997d2d6); //#aaa
$color_grey_03:var(--e-global-color-8a7d752); //#E3E3E3
$color_grey_04:var(--e-global-color-e11080b); //#ECECEC
$color_grey_05:var(--e-global-color-56f6c88); //#F7F7F7