@import '_mixin', '_variables';

html[data-useragent*='Mac OS X']{
	.mac_font{position: relative; top: -10px;}
}  

*{word-break:keep-all; scroll-behavior: smooth; outline:none;}
img{image-rendering: -webkit-optimize-contrast;}
::selection{background: #000; color: #fff;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
.elementor-button .elementor-align-icon-right{display:flex;}
.elementor-icon-wrapper{display:flex; align-items:center;}
.elementor-item:focus{background:none !important;}
// list style
ul, ol{padding:0;
	li{list-style:none; padding:0;}
	&.hyphen_list{@include list('\2d');}
}
body{
    &::-webkit-scrollbar{width: 8px;
        &-thumb{background:$main_color_01}
        &-track{background:#222}
    }
}
// list style end
/* -lottie- */
.elementor-widget-lottie .e-lottie__caption{display:none;}
/* -lottie end- */
/* -color class- */
.filter_white{filter:brightness(0) invert(1);}
.filter_black{filter: grayscale(100%) brightness(0);}
.filter_main_01{filter:invert(67%) sepia(34%) saturate(1749%) hue-rotate(185deg) brightness(100%) contrast(107%);}
.filter_main_02{filter:invert(23%) sepia(56%) saturate(4362%) hue-rotate(210deg) brightness(107%) contrast(101%);}
.font_main_color_01{color:$main_color_01;}
.font_main_color_02{color:$main_color_02;}
/* -color class end- */
/* -br- */
@include pc{.br_pc__none{display:none;}}
@include tb{.br_tb__none{display:none;}}
@include mb{.br_mb__none{display:none;}}
/* -br- */
/* -cursor/floating- */
.cursor{cursor: pointer;}
.floating{opacity:0;
	.elementor-icon{cursor:pointer;}
}
/* -cursor/floating btn end- */
/* -kBoard- */
// (modal)
.note-modal.open{@include flex(center, center);}
// (default thead)
#kboard-default-list thead{position: absolute; @include size(0, 0); overflow: hidden;}
// (kboard media 추가)
#kboard-default-editor .kboard-attr-media .attr-value a{color: $color_grey_02; font-size: 14px;}
// (new)
.kboard-default-new-notify{background:$main_color_01 !important;}
/* -kBoard end- */
/* -quform edit form- */
.quform-edit-form{display:none;}
/* -quform edit form end- */
/* -header full width- */
header > div.full_w{width: 100%!important; left: 0!important;}
/* -header full width end- */
/* ●sub 공통● */
/* ○mainBanner○ */
.sub_mainbanner{
  #home a:before{@include icon_font("\f015", 900);}
  }
  /* ○mainBanner end○ */
.text_logo_img{width: 7em!important; margin-bottom: -5px!important; float: none !important;}
/* ●sub 공통 end● */
@include mb{
	// mobile table x scroll
	.table{overflow-x: auto;}
	// mobile table x scroll end
	// kboard default list 
	#kboard-default-list colgroup{display: none;}
	// kboard default list end 
	.lnb_scrollspy .from .elementor-nav-menu{@include touch_snap($margin-b:0);}
}